:root
{
    --primary-color: #0A1128;
    --secondary-color: crimson;
    --white-color: #FFFFFF;
    --gray-color: #c7c7c7;
    --light-gray-color: #EEEEEE;
    --blue-color: #1900d3;
    --gap: 3rem;
}